.logo {
  position: absolute;
  left: 20px;
  top: 50px;

  &-image {
    width: 118.15px;
    height: 48px;
  }

  @media screen and (min-width: $tablet) {
    left: 127px;
    top: 50px;

    &-image {
      width: 160px;
      height: 65px;
    }
  }

  @media screen and (min-width: $desktop) {
    left: 88px;
    top: 50px;
  }
}
