<header>
    <div class="header container">
        <div class="logo-container">
            <img class="logo-img" src="./img/logo.png" alt="logo" />
        </div>
        <div class="header-nav">
            <nav>
                <ul class="header-list">
                    <li class="header-list-item is-active">
                        <a class="header-list-link is-active-link" href="">My board</a>
                    </li>
                    <li class="header-list-item">
                        <a class="header-list-link" href="">My profile</a>
                    </li>
                    <li class="header-list-item">
                        <a class="header-list-link" href="">Chat</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-input-box">
            <div class="header-input-container">
                <input class="header-input" placeholder="Find users" type="text" />
            </div>
            <div class="header-registration">
                <button type="button" class="header-login-btn btn-registr">Login</button>
                <button type="button" class="header-registr-btn btn-registr">Register</button>

            </div>
        </div>
        <div class="header-btn">
            <button class="header-mobile-button is-open" type="button" data-menu-button>
                <svg class="" width="25" height="25">
                    <use class="icon-close-mobile" href="./img/sprite.svg#mobile-menu"></use>
                    <use class="icon-open-mobile" href="./img/sprite.svg#mobile-close"></use>
                </svg>
            </button>
        </div>
    </div>

    </div>
</header>
<main>
    <div class="main container">
        <div class="main-porfolio">
            <div class="main-portfolio-photo">
                <img class="main-portfolio-img" src="./img/photo.jpg" alt="" />
                <div class="main-portfolio-info-container">
                    <h1 class="main-portfolio-name">I am penguin</h1>
                    <p class="main-portfolio-info">Learninig js</p>
                </div>
            </div>
            <div class="main-portfolio-skills">
                <div class="main-portfolio-skills-container">
                    <h2 class="main-portfolio-skills-tittle">My skills</h2>
                    <ul class="main-portf-skills-list">
                        <li class="main-portf-skills-item"><span
                                class="main-portf-skils-subtittle skils-subtittle-text">Html</span></li>
                        <li class="main-portf-skills-item"><span
                                class="main-portf-skils-subtittle skils-subtittle-text">Css</span></li>
                        <li class="main-portf-skills-item"><span
                                class="main-portf-skils-subtittle skils-subtittle-text">Js</span></li>
                        <li class="main-portf-skills-item"><span
                                class="main-portf-skils-subtittle skils-subtittle-text">Node.js</span></li>
                    </ul>
                    <button type="button" class="main-portfolio-skills-btn btn">Read more</button>
                </div>
            </div>
            <div class="main-portfolio-about">
                <div class="main-portfolio-about-container">
                    <h2 class="main-portfolio-skills-tittle">About me</h2>
                    <p class="main-portf-skils-subtittle">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Exercitationem odit laboriosam labore.
                    </p>
                    <button type="button" class="main-portfolio-about-btn btn">Read more</button>
                </div>
            </div>
        </div>
        <div class="main-dashboard">
            <div class="main-dashboard-container">
                <ul class="main-dashboard-container-list">
                    <li class="main-dashboard-container-item">
                        <h3 class="main-dashboard-question-title">I`ve got a problem with last hw, please, help me!</h3>
                        <p class="main-dashboard-question-text">
                            I`ve done my homework, and almoust everithing is working. But
                            when I try to push my last commit to a git-repository I ended
                            up with an Error. I`ve done my homework, and almoust
                            everithing is working. But when I try to push my last commit
                            to a git-repository I ended up with an Error. Please, look up
                            and ...
                        </p>
                        <button type="button" class="main-dashboard-question btn">Read more</button>
                        <div class="tags-container">
                            <h4 class="tags-info">Tags:</h4>
                            <ul class="tags-list">
                                <li class="tags-item">home-work</li>
                                <li class="tags-item">javascript</li>
                                <li class="tags-item">issue</li>
                            </ul>
                        </div>
                        <div class="main-dashboard-like">
                            <svg class="icon-like icon" width="22" height="20">
                                <use class="" href="./img/sprite2.svg#like"></use>
                            </svg>
                            <span class="main-dashboard-counter">3</span>
                            <svg class="icon-coments icon" width="15" height="15">
                                <use class="" href="./img/spritecoments.svg#icon-Comments"></use>
                            </svg>
                            <span class="main-dashboard-counter">1</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>