<section class="register-section">
    <div class="register-container">
        <h2 class="register-container__title">Sign up to log in</h2>
        <form class="register-container__form">
            <label class="form-field">
                <input class="form-input login-input" type="text" placeholder=" ">
                <span class="form-label">Login</span>
            </label>
            <label class="form-field">
                <input class="form-input password-input" type="password" placeholder=" ">
                <span class="form-label">Password</span>
            </label>

            <button class="login-button" type="submit">Login</button>
        </form>
        <div class="register-container__footer">
            <p class="register-container__title footer">Don't have login yet?</p>
            <a class="register-container__link" href="./register.html">Register</a>
        </div>

    </div>
</section>