<section class="signup-section">
    <div class="signup-container">
        <h2 class="signup-container__title">Sign up to register</h2>
        <form class="signup-container__form register-form">
            <label class="form-field">
                <input class="register-login-input input form-input" type="text" placeholder=" ">
                <span class="form-label">Login</span>
                <span class="material-icons form-icon-valid">check_circle</span>
                <span class="material-icons form-icon-invalid">report</span>
            </label>
            <label class="form-field">
                <input class="password-input input form-input" type="password" placeholder=" ">
                <span class="form-label">Password</span>
                <span class="material-icons form-icon-valid">check_circle</span>
                <span class="material-icons form-icon-invalid">report</span>
            </label>


            <div class="password-container"></div>
            ​
            <p class="signup-container__subtitle">Confirm your password</p>
            <label class="form-field confirm">
                <input class="confirm-password form-input" type="password" placeholder=" ">
                <span class="form-label">Confirm password</span>
                <span class="material-icons form-icon-valid">check_circle</span>
                <span class="material-icons form-icon-invalid">report</span>
            </label>

            <button type="submit" class="submit-register-button submit-button">Register</button>
        </form>
        <div class="signup-container__footer">
            <p class="signup-container__title footer">Already registered?</p>
            <a class="signup-container__link" href="./login.html">Login</a>
        </div>
    </div>

</section>